<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YmielsAnimalNames"
        tools:targetApi="31">
        <activity
            android:name=".ManageBlockActivity"
            android:label="@string/manage_block_animals"
            android:parentActivityName=".AnimalNamesActivity"
            android:exported="false" />
        <activity
            android:name=".AnimalDetailsActivity"
            android:label="@string/animal_s_details"
            android:parentActivityName=".AnimalNamesActivity"
            android:exported="false" />
        <activity
            android:name=".AnimalNamesActivity"
            android:label="@string/animal_names_from_a_to_z"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>